.section-sellpost {
  padding-top: 70px;
}

.sellpost-header {
  padding-bottom: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.sellpost-bottom-nopost {
  padding-top: 4%;
  color: grey;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellpost-bottom-button {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#sellpost-modal-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.sellpost-modal-grid label {
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

.sellpost-card-image {
  max-width: 374px;
  max-height: 250px;
}

#sellpost-cardgroup {
  padding-left: 20px;
  padding-right: 20px;
}
