.section-shoecafe {
  padding-top: 54px;
}

#carousel-item {
  max-height: 700px;
}

.carousel-image {
  transform: translateY(-25%);
}

#carousel-detail {
  color: black;
}

.carousel-image2 {
  /* transform: translateY(10%); */
  height: 700px;
}

.carousel-control-next-icon {
  height: 70px;
  width: 70px;
}

.carousel-control-prev-icon {
  height: 70px;
  width: 70px;
}
.carousel-control-prev-icon {
  height: 70px;
  width: 70px;
}
.carousel-indicators li {
  height: 10px;
  width: 50px;
}

/* recommend section*/

#recommend-section {
  padding-top: 15px;
}

.recommend-head {
  font-size: 40px;
  color: grey;
  font-weight: bold;
}

#recommend-cardgroup {
  padding-left: 20px;
  padding-right: 20px;
}

#recommend-card-image {
  max-width: 374px;
  max-height: 250px;
}
